<ion-card>
  <ion-card-header>
    <ion-card-title>Id: {{this.task()?.id_tarea}}</ion-card-title>
    <ion-card-subtitle>Nombre: {{ this.task()?.nombre }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Creador</ion-label>
        <ion-text>{{ this.task()?.creador }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Duración</ion-label>
        <ion-text>{{ this.task()?.duracion }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Usuarios asignados</ion-label>
        <ion-text>
          <!-- Si hay usuarios(distintos de una string vacía), ponemos un span con los nombres de usuario, sino no hacemos nada -->
          @for (user of this.task()?.usuarios; track user) {
          @if (user !== '') {
          <span>{{ user }}</span>
          }
          }
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>