<p>task-id works!</p>
<!-- Centramos en el medio de la página-->
<div class="flex justify-center items-center h-screen">
  @if (this.selectedTask){
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
      <img class="w-full" src="/img.png" alt="Task logo">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Id: {{this.selectedTask.id_tarea}}, Nombre: {{ this.selectedTask.nombre }}</div>
        <p class="text-gray-700 text-base">
        <div class="card-body">
          <p class="card-text">Duración: {{ this.selectedTask.duracion }}</p>
          <p class="card-text">Creador: {{this.selectedTask.creador}}</p>
          <p class="card-text">Usuarios asignados:
            @for (user of this.selectedTask.usuarios; track user) {
              @if (user !== '') {
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ user }}</span>
              }
            }
          </p>
        </div>
      </div>
    </div>
  } @else {
    <div class="mt-4 max-w-md mx-auto">
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">We're very sorry, but we haven't found the task you are looking for</strong>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
    </div>
  }
</div>
