<!-- Hacemos una barra para buscar y un botón -->

<div class="relative">
  <input [(ngModel)]="this.searchValue"
         class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
         id="input-search" placeholder="Type here..."
         type="text"/>
  <button
    (click)="search()"
    class="absolute right-1 top-1 rounded bg-slate-800 py-1 px-2.5 border border-transparent text-center text-sm text-white transition-all shadow-sm hover:shadow focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
    Search
  </button>

  <p>Actual search value: {{ this.searchValue }}</p>
</div>
